{% extends "base/base.html" %}
{% block start %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand:wght@600&display=swap');
</style>
<style>
    body {
        font-family: 'Quicksand', sans-serif;
        font-weight: 700;
    }
</style>
<style>
    .timeout-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 100px;
    }

    .red_cross {
        width: 250px;
        height: 100%;
    }

    .timeout-img button {
        background-color: transparent;
        border: 0px;
        text-decoration: underline;
        color: blue;
    }
</style>
<div class="timeout-img">
    <img src="https://activity.mentlabz.com/assets/session_expired.jpeg" class="red_cross" alt="Red-Cross">
    <p>Your Session is expired please
        <button id="logout-link-session">click here</button> to login again.
    </p>
</div>
<script>
    document.getElementById('logout-link-session').addEventListener('click', function () {

        fetch('/accounts/logout/', {
            method: 'POST'
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error(response.statusText);
                }
                return response.json();
            })
            .then(data => {
                console.log(data);
                // Handle the response based on the status
                if (data.status === 200) {
                    window.location.href = '/accounts/login/';
                }
            })
            .catch(error => {
                console.error(error);
                // Handle any other errors
            });
    });
</script>
{% endblock %}