{% extends "base/base.html" %}
{% block start %}
<style>
    @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

    .c-pill {
        align-items: center;
        font-family: "Open Sans", Arial, Verdana, sans-serif;
        font-weight: bold;
        font-size: 11px;
        display: inline-block;
        height: 100%;
        white-space: nowrap;
        width: auto;

        position: relative;
        border-radius: 100px;
        line-height: 1;
        overflow: hidden;
        padding: 0px 12px 0px 20px;
        text-overflow: ellipsis;
        line-height: 1.25rem;
        color: #595959;

        word-break: break-word;
    }


    .c-pill--success {
        background: #b4eda0;
    }

    .c-pill--success:before {
        background: #6BC167;
    }

    .c-pill--PENDING {
        background: #ffc400;
        color: #000;
    }

    .c-pill--PENDING:before {
        background: #ffc400;
    }

    .c-pill--danger {
        background: #ffd5d1;
    }

    .c-pill--danger:before {
        background: #ff4436;
    }
</style>
<section style="background-color: #eee;">
    <div class="container py-5">

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                            alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">{{request.user.profile.user.first_name}}
                            {{request.user.profile.user.last_name}}</h5>
                        <p class="text-muted mb-1">{{request.user.profile.user.email}}</p>
                    </div>
                </div>
                <div class="card mb-4 mb-lg-0">
                    <div class="card-body p-0">
                        <div id="chart"></div>
                    </div>
                </div>

            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">First Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{request.user.profile.user.first_name}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Last Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{request.user.profile.user.last_name}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{request.user.profile.user.email}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Phone</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{request.user.profile.phone_number}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card mb-4 mb-md-0">
                            <div class="card-body">
                                <h5 class="card-title">Order History</h5>
                                {% if order_history %}
                                <ul class="list-group">
                                    {% for order in order_history %}
                                    <li class="list-group-item">
                                        <h6 style="color: black; font-weight: bold;">Order ID: {{ order.order_id }}</h6>
                                        <p>Total Amount: <span style="color: green;">₹{{ order.total_amount }}</span>
                                        </p>
                                        <p class="c-pill c-pill--{{ order.status }}">Status: {{ order.status }}</p><br>
                                        <div class="d-flex">
                                            {% for product in order.products.all %}
                                            <div class="products d-flex">
                                                <img src="/media/{{ product.products_images.first.image }}"
                                                    class="border rounded me-3" style="width: 96px; height: 96px;" />
                                                <div class="d-flex flex-column">
                                                    <p style="max-width: 200px; font-size: 15px;">
                                                        {{product.product_name}}</p>
                                                    <p style="color: #000; font-weight: 900;">₹{{ product.price }}.00
                                                    </p>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% else %}
                                <p>No order history available.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    var options = {
        series: [{
            name: "Desktops",
            data: [10, 41, 35, 51, 49, 62, 69, 91, 148]
        }],
        chart: {
            height: 350,
            type: 'line',
            zoom: {
                enabled: false
            }
        },
        dataLabels: {
            enabled: false
        },
        stroke: {
            curve: 'straight'
        },
        title: {
            text: 'Product Trends by Month',
            align: 'left'
        },
        grid: {
            row: {
                colors: ['#f3f3f3', 'transparent'],
                opacity: 0.5
            },
        },
        xaxis: {
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep'],
        }
    };

    var chart = new ApexCharts(document.querySelector("#chart"), options);
    chart.render();
</script>

{% endblock %}